HELP.md
.gradle
.gradle/**
build/
build/**
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

*.class

# Package Files #
*.jar
*.war
*.ear

#Gradle temporary files
target/

#Eclipse files
**/.project
**/.classpath
**/.settings/
blog/bin/
**/.tern-project

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
